.table {
	border: 1px solid black;
	border-collapse: collapse;
}

.pagination {
	display: flex;
}

.pagination ul {
	display: flex;
	list-style: none;
}

.pagination ul li {
	padding: 10px;
	border: 1px solid black;
	cursor: pointer;
}

.pagination ul li.active {
	background-color: blue;
	color: white;
}
